.character {
	--image-width: 1455;
	--image-height: 1991;
	--scale: 0.05vw;
	--left: 50vw;

	z-index: -50;

	position: fixed;
	width: calc(var(--scale) * var(--image-width));
	height: calc(var(--scale) * var(--image-height));

	bottom: calc(-0.2 * var(--scale) * var(--image-height));
	left: calc(var(--left) - 0.5 * var(--scale) * var(--image-width));
}

.halo {
	--image-width: 1455;
	--image-height: 1991;
	--scale: 0.05vw;
	--left: 50vw;

	z-index: -50;

	position: fixed;
	width: calc(var(--scale) * var(--image-width));
	height: calc(var(--scale) * var(--image-height));

	bottom: calc(-0.2 * var(--scale) * var(--image-height));
	left: calc(var(--left) - 0.5 * var(--scale) * var(--image-width));

	animation: halo-hover infinite ease-in-out 60s;
}

@keyframes halo-hover {
	from {
		transform: translateY(0%);
	}

	50% {
		transform: translateY(-2.5%);
	}

	to {
		transform: translateY(0%);
	}
}

@media (min-width: 900px) {
	.character {
		--scale: 0.02vw;
		--left: 61.8vw;
	}

	.halo {
		--scale: 0.02vw;
		--left: 61.8vw;
	}
}
