html {
	color: var(--mdc-theme-text-primary-on-dark, #fff);
	background-color: var(--mdc-theme-background, #333);
}

body,
.root,
.body {
	position: absolute;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	margin: 0;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #333;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
