.background-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    z-index: -100;
    overflow: hidden;

    .full-moon {
        position: absolute;
        bottom: -40vw;
        left: 28vw;
        width: 65vw;
        height: 65vw;
    }

    .background-stars {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: -200;
    }
}
