@use "@material/theme" with (
  $primary: #90caf9,
  $secondary: #9fa8da,
  $background: #333,
);
@use "material-components-web";

@import "~@fontsource/roboto/latin.css";

@import "~bootstrap/scss/bootstrap-utilities.scss";

html {
  color: var(--mdc-theme-text-primary-on-dark, #FFF);
  background-color: var(--mdc-theme-background, #333);
}