.home-buttons {
    margin-left: 3rem;
    margin-right: 3rem;
}
@media (min-width:900px) {
    .home-buttons {
        margin-top: 5vh;
        margin-left: 15vw;
        margin-right: inherit;
        width: 33vw;
        transition: all 2s ease-in-out;
        perspective: 33vw;
        perspective-origin: center;
        align-items: center;
    
        > * {
            transform: rotateY(8deg);
        }
    }
}